section.lesson {
    h2,
    h3 {
        text-align: center;
    }
    dl {
        display: grid;
        grid-template-columns: 200px 200px;
        justify-content: center;

        dt,
        dd {
            padding: 5px;
        }
        dd {
            margin: 0;
        }

        dt:nth-of-type(even),
        dd:nth-of-type(even) {
            background: #ddd;
        }
    }
}
